<h2 mat-dialog-title>Summary Event</h2>
<mat-dialog-content class="mat-typography">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Event</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>Name</mat-grid-tile>
            <mat-grid-tile>{{ eventDetail.name }}</mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
      
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Send to my email</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
