@import "../../../styles/global/variables.less";

.container {
  overflow: hidden;
  width: auto;
  @media @desktop {
    margin: 1rem 10rem;
  }
  @media @mobile {
    margin: 1rem 1rem;
  }
}

.event-summary {
  .grid-card {
    height: 300px;
    max-height: 300rem;
  }

  table {
    width: 100%;
  }

  .card {
    width: 99%;
    box-sizing: border-box;
    border-bottom: 4px solid var(--color-primary);
  }
  .grid-tile-row {
    justify-content: flex-start !important ;
    align-items: flex-start !important;
  }
  .text-inside-grid {
    width: 100%;
    display: flex;
    align-items: flex-start;
    height: -webkit-fill-available;
  }
  .label-inside-grid {
    .text-inside-grid;
    font-size: 1.5rem;
  }
  .mat-grid-tile {
    overflow: hidden;
  }
  .mat-cell {
    padding-left: 5px;
    padding-right: 5px;
  }
  .mat-header-cell {
    .mat-cell;
  }
}

.email-region {
  min-width: 900px !important;
  max-width: 1500px !important;
  min-height: 1200px !important;
  max-height: 3000px !important;
  position: absolute;
  top: 0;
  left: -5000px;
}
.mat-flat-button {
  margin-left: 5px;
}
.mat-stroked-button {
  margin-left: 5px;
}

.td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 5px;
}
.mat-footer-cell {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  font-size: 1rem;
}
.dot {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.2rem;
}
.status {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.opened {
  .dot {
    background-color: @green;
  }
}
.closedStatus {
  .dot {
    background-color: @orange;
  }
}
.canceled {
  .dot {
    background-color: @red;
  }
}
.show-users-button {
  margin-bottom: 5px;
}
