@import '../../../styles/global/variables.less';

.event-summary {

  .grid-card {
    height: 300px;
    max-height: 300rem;
  }

  table {
    width: 100%;
  }
  
  .card {
    width: 80%;
    box-sizing: border-box;
  }
  .grid-tile-row
  {
    justify-content: flex-start !important ;
    align-items: flex-start !important;
  }
}
