@import "~@angular/material/_theming.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,
html {
  margin: 0 auto;
  height: 100% !important;
}
$my-theme: (
  50: #e57d13,
  contrast: (
    50: white
  )
);
$my-jungle: (
  50: #3b8a21,
  contrast: (
    50: #3b8a21
  )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
.app-theme1-theme {
  $my-app-primary: mat-palette($my-theme, 50);
  $my-app-accent: mat-palette($mat-red, 500);
  $my-app-warn: mat-palette($mat-grey, 900);

  // Create the theme object (a Sass map containing all of the palettes).
  $my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
  // Include theme styles for core and each component used in your app.
  // Alternatively, you can import and @include the theme mixins for each component
  // that you are using.
  @include angular-material-theme($my-app-theme);
}

.app-theme2-theme {
  $alternate-primary: mat-palette($mat-grey, 900);
  $alternate-accent: mat-palette($mat-indigo, 500);
  $alternate-warn: mat-palette($mat-indigo, 500);
  $alternate-theme: mat-light-theme(
    $alternate-primary,
    $alternate-accent,
    $alternate-warn
  );
  @include angular-material-theme($alternate-theme);
}
