@import "~@angular/material/_theming.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,
html {
  margin: 0 auto;
  height: 100% !important;
}
$grey: (
  50: #d3d3d3,
  contrast: (
    50: #d3d3d3
  )
);
$darkBlack: (
  50: #000000,
  contrast: (
    50: #000000
  )
);
$black: (
  50: #3c3c3c,
  contrast: (
    50: #3c3c3c
  )
);
$white-smoke: (
  50: #f5f5f5,
  contrast: (
    50: #f5f5f5
  )
);
$blue: (
  50: #3f51b5,
  contrast: (
    50: #3f51b5
  )
);
$red: (
  50: #f00,
  contrast: (
    50: #f00
  )
);
$orange: (
  50: #fb8c00,
  contrast: (
    50: #fb8c00
  )
);
$deepOrange: (
  50: #f44336,
  contrast: (
    50: #f44336
  )
);
$my-green: (
  50: #43a047,
  contrast: (
    50: #43a047
  )
);

$lightBlack: (
  50: #3c3c3c,
  contrast: (
    50: #3c3c3c
  )
);
$white: (
  50: #fff,
  contrast: (
    50: #fff
  )
);
$my-theme: (
  50: #e57d13,
  contrast: (
    50: white
  )
);
$my-jungle: (
  50: #4b4c02,
  contrast: (
    50: #4b4c02
  )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.

.app-theme1-theme {
  $my-app-primary: mat-palette($my-theme, 50);
  $my-app-accent: mat-palette($mat-red, 500);
  $my-app-warn: mat-palette($mat-grey, 900);

  // Create the theme object (a Sass map containing all of the palettes).
  $my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
  // Include theme styles for core and each component used in your app.
  // Alternatively, you can import and @include the theme mixins for each component
  // that you are using.
  @include angular-material-theme($my-app-theme);
  --color-primary: #{mat-color($my-app-primary)};
  --color-accent: #{mat-color($my-app-accent)};
  --color-warn: #{mat-color($my-app-accent)};
}

.app-theme2-theme {
  $my-app-primary: mat-palette($mat-grey, 900);
  $my-app-accent: mat-palette($mat-indigo, 500);
  $my-app-warn: mat-palette($mat-grey, 900);
  $my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
  @include angular-material-theme($my-app-theme);
  --color-primary: #{mat-color($my-app-primary)};
  --color-accent: #{mat-color($my-app-accent)};
  --color-warn: #{mat-color($my-app-accent)};
}
