table {
  width: -webkit-fill-available;
}
.example-button-row {
  padding: 10px;
  padding-left: 80%;
}
.example-button-row button {
  margin: 5%;
}

.tp-container {
  display: flex;
  flex-direction: column;
}
.tp-container > * {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.example-container {
  height: 400px;
  overflow: auto;
}

.avatar-padding{
  padding-top: 5px;
  padding-bottom: 5px;
  .make-circle-avatar{
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}

.radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

.event-data-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


// table {
//   width: 100%;
// }

.divSelectUser{
  max-width:385px;
}

.MakeCircleAvatar{
  border-radius: 50%;
  padding: 1rem;
  width: 40px;
  height: 40px;
}

.format-avatar{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-items: center;
}
.format-avatar-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  span{
    line-height: 1rem;
  }
  small{
    line-height: 1rem;
  }
}