################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/fos-api/FOS/.vs/FOS/v15
/fos-api/FOS/FOS.API/Areas/HelpPage/Views
/fos-api/FOS/FOS.API/bin
/fos-api/FOS/FOS.API/obj/Debug
/fos-api/FOS/FOS.Common/bin/Debug
/fos-api/FOS/FOS.Common/obj/Debug
/fos-api/FOS/FOS.Model/bin/Debug
/fos-api/FOS/FOS.Model/obj/Debug
/fos-api/FOS/FOS.Repositories/bin/Debug
/fos-api/FOS/FOS.Repositories/obj/Debug
/fos-api/FOS/FOS.Service/bin/Debug
/fos-api/FOS/FOS.Service/obj/Debug
/fos-api/FOS/packages
/fos-api/FOS/.vs/FOS/v15
/fos-api/FOS/FOS.Common/bin/Debug
/fos-api/FOS/FOS.Model/bin/Debug
/fos-api/FOS/FOS.Repositories/bin/Debug
/fos-api/FOS/FOS.Service/bin/Debug
/fos-api/FOS/FOS.Common/bin/Release
/fos-api/FOS/FOS.Common/obj/Release
/fos-api/FOS/FOS.Model/bin/Release
/fos-api/FOS/FOS.Model/obj/Release
/fos-api/FOS/FOS.Service/bin/Release
/fos-api/FOS/FOS.Service/obj/Release
/fos-api/FOS/FOS.Repositories/bin/Release
/fos-api/FOS/FOS.Repositories/obj/Release
/fos-api/FOS/FOS.API/Properties/PublishProfiles
/fos-api/FOS/FOS.API/obj/Release
/fos-api/FOS/.vs/FOS
/.vs
/fos-api/FOS/FOS.Repositories/Migrations
/fos-client/.vs
/.vs/fos/v16
/fos-api/FOS5.zip
/fos-api/FOS/FOS.API/Content/bootstrap-grid.css
/fos-api/FOS/FOS.API/Content/bootstrap-grid.css.map
/fos-api/FOS/FOS.API/Content/bootstrap-grid.min.css
/fos-api/FOS/FOS.API/Content/bootstrap-reboot.css
/fos-api/FOS/FOS.API/Content/bootstrap-grid.min.css.map
/fos-api/FOS/FOS.API/Content/bootstrap-reboot.min.css
/fos-api/FOS/FOS.API/Content/bootstrap-reboot.css.map
/fos-api/FOS/FOS.API/Content/bootstrap-reboot.min.css.map
