<div class="container">
  <mat-chip-list #chipList aria-label="Fruit selection">
    <app-promotions-chip
      *ngFor="let promotion of promotions"
      [visible]="visible"
      [selectable]="selectable"
      [removable]="promotion.PromotionType > 0"
      [addOnBlur]="addOnBlur"
      [promotion]="promotion"
      (removePressed)="removePromotion($event)"
    ></app-promotions-chip>
  </mat-chip-list>
  <div class="action-menu" *ngIf="changable">
    <mat-form-field>
      <mat-label>Promotion Type</mat-label>
      <mat-select [(value)]="promotionType">
        <mat-option
          *ngFor="let promotion of promotionOptions"
          [value]="promotion.PromotionType"
          >{{ getPromotionName(promotion.PromotionType) }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Value</mat-label>
      <input
        [(ngModel)]="promotionValue"
        matInput
        placeholder="Promotion value"
        value="10"
      />
      <span matSuffix>{{ isPromotionPercent() ? "%" : "đ" }}</span>
    </mat-form-field>
    <div class="action-button">
    <button (click)="addToPromotions()" mat-flat-button color="primary">
      Add
    </button>
    <button (click)="updateEventPromotion()" mat-flat-button color="primary">
      Update
    </button>
  </div>
  </div>
</div>
