<div class="container">
  <div class="action-menu">
    <mat-form-field>
      <mat-label>Promotion Type</mat-label>
      <mat-select [(value)]="promotionType">
        <mat-option
          *ngFor="let promotion of promotionOptions"
          [value]="promotion.PromotionType"
          >{{ getPromotionName(promotion.PromotionType) }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select [(value)]="promotionTypeOfValue">
        <mat-option value="%">
          %
        </mat-option>
        <mat-option value="đ">
          đ
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Value</mat-label>
      <input
        [(ngModel)]="promotionValue"
        matInput
        placeholder="Promotion value"
        value="10"
      />
      <span matSuffix>
        {{ promotionTypeOfValue }}
      </span>
    </mat-form-field>

    <div class="action-button">
      <button (click)="addToPromotions()" mat-flat-button color="primary">
        Add
      </button>
      <button (click)="updateEventPromotion()" mat-flat-button color="primary">
        Update
      </button>
    </div>
  </div>
  <div class="container2">
    <mat-chip-list #chipList aria-label="Fruit selection">
      <app-promotions-chip
        *ngFor="let promotion of promotions"
        [visible]="visible"
        [selectable]="selectable"
        [removable]="promotion.PromotionType > 0"
        [addOnBlur]="addOnBlur"
        [promotion]="promotion"
        (removePressed)="removePromotion($event)"
      ></app-promotions-chip>
    </mat-chip-list>
  </div>
</div>
