<div class="container">
  <div class="container2">
    <mat-chip-list #chipList aria-label="Fruit selection">
      <app-promotions-chip
        *ngFor="let promotion of promotions"
        [visible]="visible"
        [selectable]="selectable"
        [removable]="promotion.PromotionType > 0 && isHost"
        [addOnBlur]="addOnBlur"
        [promotion]="promotion"
        (removePressed)="removePromotion($event)"
      ></app-promotions-chip>
      <mat-chip *ngIf="isHost" color="primary" (click)="addNewPromotion()" matTooltip="Add a promotion" matTooltipPosition="above">
        +
      </mat-chip>
      <mat-chip *ngIf="isHost" color="primary" (click)="updateEventPromotion()" matTooltip="Save promotion list" matTooltipPosition="above">
        <mat-icon>system_update_alt</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
