<mat-toolbar>
    <span>Place an event</span>
</mat-toolbar>
<mat-card class="my-card">
    <mat-card-content>

        <form class="my-form">
            <mat-form-field class="full-width">
                <mat-label>Event Title</mat-label>
                <input matInput placeholder="Event Title" name="EventTitle" required [(ngModel)]="EventTitle">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Restaurant</mat-label>
                <input matInput placeholder="Restaurant" name="Restaurant" required [(ngModel)]="Restaurant">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Maximum Budget</mat-label>
                <input matInput type="number" placeholder="Maximum Budget" name="maximunBudget"
                    [(ngModel)]="maximunBudget">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Time To Close</mat-label>
                <input id="party" matInput type="datetime-local" name="partydate" [(ngModel)]="dateTimeToClose"
                    required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Time To Reminder</mat-label>
                <input id="party" matInput type="datetime-local" name="partydate" [(ngModel)]="dateToReminder">
            </mat-form-field>
        </form>
        <div class="divSelectUser">
            <mat-label>Host</mat-label>
            <angular2-multiselect [data]="dropdownListNewUser" [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"></angular2-multiselect>
        </div>
        <!-- <md-grid-list md-cols="10" md-row-height="1:1" md-gutter="12px">
            <md-grid-tile md-colspan="5" class="green">
                <mat-form-field>
                    <mat-label>Select user or group</mat-label>
                    <mat-select (selectionChange)="changeClient($event)" [formControl]="eventFormControl" required>
                        <mat-optgroup *ngFor="let group of userPickerGroups" [label]="group.name">
                            <mat-option *ngFor="let user of group.userpicker" [value]="user.email">
                                {{user.name}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
            </md-grid-tile>

            <md-grid-tile md-colspan="5" class="yellow">
                <button mat-raised-button color="primary" (click)="AddUserToTable()">Add User</button>
            </md-grid-tile>
        </md-grid-list> -->

        <!-- <mat-form-field style="width:450px" class="userPicker">
                <mat-label>Select user or group</mat-label>
                <mat-select (selectionChange)="changeClient($event)" [formControl]="eventFormControl" required>
                    <mat-optgroup *ngFor="let group of userPickerGroups" [label]="group.name">
                        <mat-option style="width:4500px" *ngFor="let user of group.userpicker" [value]="user.email">
                            {{user.name}}
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
        </mat-form-field>
        <div>
                <button mat-raised-button color="primary" (click)="AddUserToTable()">Add User</button>
        </div> -->
        
        <!-- <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile md-colspan="8">
                <mat-form-field style="width:450px" class="userPicker">
                    <mat-label>Select user or group</mat-label>
                    <mat-select (selectionChange)="changeClient($event)" [formControl]="eventFormControl" required>
                        <mat-optgroup *ngFor="let group of userPickerGroups" [label]="group.name">
                            <mat-option style="width:4500px" *ngFor="let user of group.userpicker" [value]="user.email">
                                {{user.name}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="AddUserToTable()">Add User</button>
            </mat-grid-tile>
            <mat-grid-tile md-colspan="2"></mat-grid-tile>
        </mat-grid-list> -->

        <mat-form-field style="width:400px" class="userPicker">
            <mat-label>Select user or group</mat-label>
            <mat-select (selectionChange)="changeClient($event)" [formControl]="eventFormControl" required>
                <mat-optgroup *ngFor="let group of userPickerGroups" [label]="group.name">
                    <mat-option style="width:4500px" *ngFor="let user of group.userpicker" [value]="user.email">
                        {{user.name}}
                    </mat-option>
                </mat-optgroup>
            </mat-select>
        </mat-form-field>
        <button style="margin-left:10px" mat-raised-button color="primary" (click)="AddUserToTable()">Add User</button>

        <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="eventusers">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> user/group </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Delete </th>
                    <td mat-cell *matCellDef="let element">
                        <!-- <button mat-raised-button >Edit</button>  -->
                        <button mat-icon-button color="accent" (click)="deleteUserInTable(element.name)"> <i
                                class="material-icons">delete</i></button>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>

            </table>
        </div>
    </mat-card-content>
    <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="SaveToSharePointEventList()">Save</button>
        <button mat-raised-button color="accent">Cancel</button>
    </div>
</mat-card>
<img src="blob:https://localhost:4200/dbf0411b-fdcb-4bc3-b270-51bda41cd09b.png" alt="Fallbackimage">