.container {
    padding-top: 10px;
    padding-bottom: 10px;
}


.pay-more {
    .mat-chip.mat-standard-chip {
        background-color: crimson !important;
        color: azure !important;
    }
}

.pay-less {
    .mat-chip.mat-standard-chip {
        background-color: aquamarine !important
    }
}

