<div class="top">
  <h3>{{ orderUser.DisplayName }}'s Order</h3>
  <div class="row">
    <h4>Host: {{ hostUser.DisplayName }}</h4>
    <div class="row status-column">
      <h4>Event status:</h4>
      <div
        *ngIf="event.Status === 'Opened' || event.Status === 'Reopened'"
        class="opened status"
      >
        <span class="dot"></span>
        <h4>Open</h4>
      </div>
      <div *ngIf="event.Status === 'Closed'" class="closedStatus status">
        <span class="dot"></span>
        <h4>Closed</h4>
      </div>
      <div *ngIf="event.Status === 'Error'" class="canceled status">
        <span class="dot"></span>
        <h4>Canceled</h4>
      </div>
    </div>
  </div>

  <h4>
    Time to close:
    {{ toStandardDate(event.CloseTime) }}
  </h4>
  <h4>Event date: {{ toStandardDate(event.EventTime) }}</h4>
</div>

<div class="restaurants ">
  <app-loading [loading]="load"></app-loading>
  <mat-chip-list #chipList aria-label="Fruit selection">
    <app-promotions-chip
      *ngFor="let promotion of promotions"
      [visible]="visible"
      [selectable]="selectable"
      [removable]="removable"
      [addOnBlur]="addOnBlur"
      [promotion]="promotion"
      (removePressed)="removePromotion($event)"
    ></app-promotions-chip>
  </mat-chip-list>
  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource2">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
          Name
        </th>
        <td mat-cell *matCellDef="let element">{{ element.Value["Name"] }}</td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef class="header-align-right">
          Price
        </th>
        <td mat-cell *matCellDef="let element" align="right">
          {{
            numberWithCommas(
              setNewPrice(element.Value["Price"], element.IdFood)
            ) + "đ"
          }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef class="header-align-right">
          Amount
        </th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          style="
        direction: rtl;"
        >
          <mat-form-field class="amount-form-field">
            <input
              [disabled]="!isOrder"
              matInput
              type="number"
              #input
              (blur)="onBlurMethodAmount($event.target.value, element)"
              [value]="element.Value['Amount']"
              align="right"
              min="0"
              oninput="this.value = Math.abs(this.value)"
            />
          </mat-form-field>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef class="header-align-right">
          Total
        </th>
        <td mat-cell *matCellDef="let element" align="right">
          {{ numberWithCommas(element.Value["Total"]) + "đ" }}
        </td>
        <td mat-footer-cell *matFooterCellDef align="right">
          {{ numberWithCommas(getTotalCost()) + "đ" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef>Comment</th>
        <td
          mat-cell
          *matCellDef="let element"
          style="
            padding-left: 10px;"
        >
          <mat-form-field class="comment-form-field">
            <input
              [disabled]="!isOrder"
              matInput
              (blur)="onBlurMethodComment($event.target.value, element)"
              type="text"
              [value]="element.Value['Comment']"
            />
          </mat-form-field>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="trash">
        <th mat-header-cell *matHeaderCellDef>Remove</th>
        <td
          mat-cell
          *matCellDef="let element; let row"
          style="    direction: rtl;"
        >
          <button
            [disabled]="!isOrder"
            mat-icon-button
            color="warn"
            (click)="openDialog(row)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Disclaimer column -->
      <ng-container matColumnDef="nameBudget">
        <td mat-footer-cell *matFooterCellDef>
          Total Budget
        </td>
      </ng-container>
      <ng-container matColumnDef="1">
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="3">
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="totalBudget">
        <td mat-footer-cell *matFooterCellDef align="right">
          {{ numberWithCommas(totalBudget) + "đ" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="5">
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="7">
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="namePayExtra">
        <td mat-footer-cell *matFooterCellDef>
          Pay Extra
        </td>
      </ng-container>
      <ng-container matColumnDef="2">
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="4">
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="totalPayExtra">
        <td
          mat-footer-cell
          *matFooterCellDef
          [style.color]="getTotalCost() - totalBudget > 0 ? 'red' : 'black'"
          align="right"
        >
          {{ numberWithCommas(getTotalCost() - totalBudget) + "đ" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="6">
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="8">
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="0">
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="-2">
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="-4">
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="-6">
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- <ng-container matColumnDef="-8">
        <td mat-footer-cell *matFooterCellDef colspan="2"></td>
      </ng-container> -->
      <ng-container matColumnDef="saveOrder">
        <td mat-footer-cell *matFooterCellDef colspan="2">
          <div class="example-button-row">
            <button
              [disabled]="!isOrder"
              mat-flat-button
              color="primary"
              (click)="save()"
            >
              Save Order
            </button>
          </div>
        </td>
      </ng-container>
      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns2; sticky: true"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
      <tr
        mat-footer-row
        *matFooterRowDef="displayedColumns2; sticky: true"
        class="example-first-footer-row"
      ></tr>
      <tr
        mat-footer-row
        *matFooterRowDef="
          ['nameBudget', '1', '3', 'totalBudget', '5', '7'];
          sticky: true
        "
        class="example-second-footer-row"
      ></tr>
      <tr
        mat-footer-row
        *matFooterRowDef="
          ['namePayExtra', '2', '4', 'totalPayExtra', '6', '8'];
          sticky: true
        "
        class="example-second-footer-row"
      ></tr>
      <tr
        mat-footer-row
        *matFooterRowDef="['0', '-2', '-4', '-6', 'saveOrder']; sticky: true"
        class="example-second-footer-row"
      ></tr>
      <!-- <tr mat-footer-row *matFooterRowDef="['disclaimer3','disclaimer4']; sticky: true" class="example-second-footer-row"></tr> -->
    </table>
  </div>
</div>
