.mat-elevation-z8 {
  box-shadow: none;
}

// tr.mat-row {
//   height: 75px;
// }
// tr.mat-footer-row {
//   height: 50px;
// }
// .header-align-right {
//   display: flex;
//   padding: 21px 0;
//   justify-content: flex-end;
// }

// th.mat-header-cell:nth-child(1) {
//   width: 25rem;
// }
th.mat-header-cell:nth-child(2) {
  width: 4rem;
}
// th.mat-header-cell:nth-child(3) {
//   width: 3rem;
// }
// th.mat-header-cell:nth-child(4) {
//   width: 6rem;
// }
// th.mat-header-cell:nth-child(5) {
//   width: 10rem;
// }
.amount-form-field {
  width: 3rem;
}
.comment-form-field {
  width: 10rem;
}
.example-container {
  height: 454px;
  overflow: auto;
}
tr.mat-footer-row {
  font-weight: bold;
}

// .mat-table-sticky {
//   border-top: 1px solid #e0e0e0;
// }

td.mat-footer-cell {
  align-items: flex-end;
}
.top {
  height: 24%;
}
tr.mat-row {
  height: 66px;
}
