<form class="example-form" [formGroup]="recForm">
  <section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
      <mat-card-title>Setting My Reminder</mat-card-title>

      <mat-form-field>
        <mat-label>Title</mat-label>

        <input
          matInput
          formControlName="titleInput"
          type="text"
          placeholder="EventTitle"
          required
        />
        <mat-hint align="end">Event title is required.</mat-hint>
      </mat-form-field>
      <app-datetimepicker
        [formGroup]="recForm"
        [formLable]="'Start'"
        dateFormControlName="startInput"
        timeFormControlName="startTimeInput"
      ></app-datetimepicker>
      <app-datetimepicker
        [formGroup]="recForm"
        [formLable]="'End'"
        dateFormControlName="endInput"
        timeFormControlName="endTimeInput"
      ></app-datetimepicker>
      <mat-form-field>
        <mat-label>Repeat</mat-label>
        <mat-select formControlName="selectRepeatType">
          <mat-option *ngFor="let symbol of nameRepeatType" [value]="symbol">
            {{ symbol }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-actions align="right">
        <button mat-flat-button color="primary" (click)="getAllValue()">
          Save
        </button>
        <button mat-flat-button (click)="removeRecurrenceEvent()">
          Remove this reminder
        </button>
        <button mat-flat-button (click)="onNoClick()">
          Cancel
        </button>
      </mat-card-actions>
    </mat-card>
  </section>
</form>
