<div fxLayout="row" fxLayout.lt-md="column" class="w-time vertical-time">
  <mat-toolbar [color]="color" class="w-timepicker-time-container">
    <div class="w-timepicker-selected-time">
      <span
        [class]="currentView === VIEW_HOURS ? 'active' : ''"
        (click)="setCurrentView(VIEW_HOURS)"
        >{{ formatHour(userTime.format, userTime.hour) }}:</span
      >
      <span
        [class]="currentView === VIEW_MINUTES ? 'active' : ''"
        (click)="setCurrentView(VIEW_MINUTES)"
        >{{ formatMinute(userTime.minute) }}</span
      >
    </div>
    <!-- <div
      fxLayout="column"
      fxLayoutAlign="center center"
      class="w-timepicker-selected-ampm"
      *ngIf="userTime.format === 12"
    >
      <span
        (click)="setMeridien('AM')"
        [class]="userTime.meriden === 'AM' ? 'active' : ''"
        >AM</span
      >
      <span
        (click)="setMeridien('PM')"
        [class]="userTime.meriden === 'PM' ? 'active' : ''"
        >PM</span
      >
    </div> -->
  </mat-toolbar>

  <div class="w-time-content">
    <w-clock
      [color]="color"
      class="w-animation-zoom"
      [userTime]="userTime"
      (userTimeChange)="emituserTimeChange($event)"
      [(currentView)]="currentView"
      (viewChange)="setCurrentView($event)"
    ></w-clock>

    <div class="action-buttons">
      <button mat-flat-button color="primary" (click)="submit()">Ok</button>
      <button mat-stroked-button (click)="cancel()">Cancel</button>
      <!-- <button mat-button [color]="color" (click)="submit()">
        {{ submitLabel }}
      </button>
      <button mat-button (click)="revert()">{{ revertLabel }}</button> -->
    </div>
  </div>
</div>
