<!-- <p>event-dialog works!</p> -->
<h2>{{data.restaurant}}</h2>
<!-- <h2>{{data.delivery_id}}</h2>
<h2>{{data.id}}</h2> -->


<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Create a new event</mat-card-title>

    <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="CreateOwner(ownerForm.value)">
      <div class="tp-container">

        <mat-form-field>
          <input matInput type="text" placeholder="EventTitle" formControlName="title" id="title">
          <mat-hint align="end">Event title is required.</mat-hint>
          <mat-error *ngIf="HasError('title', 'required')">Event title is required.</mat-error>
        </mat-form-field>

        <!-- <mat-form-field floatPlaceholder="always" class="mat-form-field--no-underline"> -->
          <mat-label>Event type</mat-label>
          <!-- <input matInput style="display: none" > -->
          <mat-radio-group
            aria-labelledby="Event Type"
            class="radio-group"
            formControlName="EventType"
            [(ngModel)]="_eventType"
            >
            <mat-radio-button class="radio-button" value="Open">
              Free For All
            </mat-radio-button>
            <mat-radio-button class="radio-button" value="Close">
              Invited Only
            </mat-radio-button>
          </mat-radio-group>
          <!-- <mat-select  formControlName="EventType">
            <mat-option value="Open">Open</mat-option>
            <mat-option value="Close">Close</mat-option>
          </mat-select> -->
        <!-- </mat-form-field> -->

        <mat-form-field class="full-width">
          <input matInput placeholder="Host" [matAutocomplete]="auto" formControlName='userInputHost'>
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUser">
          <mat-option *ngIf="_isHostLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
          <ng-container *ngIf="!_isHostLoading">
            <mat-option *ngFor="let user of _userHost" [value]="user">
                <!-- <img id="youtubeimg" height="50" width="50" src="https://localhost:44366/api/SPUser/GetAvatarByUserId?Id={{user.id}}" /> -->
                <img height="50" width="50" src="https://localhost:44366/api/SPUser/GetAvatarByUserId?userId={{user.Id}}" />
              <span>{{ user.Name }}</span>
              <small> | email: {{user.Email}}</small>
              <!-- <small> | email: {{user.id}}</small> -->
              <!-- <span>{{ user.mail }}</span> -->
              <!-- <small> | ID: {{restaurant.id}}</small> -->
            </mat-option>
          </ng-container>
        </mat-autocomplete>

        <!-- <mat-form-field class="full-width">
          <mat-select placeholder="Host" formControlName="host" (selectionChange)="changeHost($event)">
            <mat-option *ngFor="let user of hostPickerGroup" [value]="user">
              <img height="50" width="50"
              src="https://localhost:44366/api/SPUser/GetAvatarByUserId?Id={{user.id}}" />
              {{user.name}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

        <mat-form-field class="full-width">
          <input matInput placeholder="Restaurant" [matAutocomplete]="autoTest" formControlName='userInput'>
        </mat-form-field>
        <mat-autocomplete  #autoTest="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngIf="_isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
          <ng-container *ngIf="!_isLoading">
            <mat-option *ngFor="let restaurant of _restaurant" [value]="restaurant">
                  <app-menu   [restaurant]="restaurant"></app-menu>
              <span>{{ restaurant.Name }}</span>
              <small> | ID: {{restaurant.RestaurantId}}</small>
            </mat-option>
          </ng-container>
        </mat-autocomplete>

        <mat-form-field class="full-width">
          <mat-label>Maximum Budget</mat-label>
          <input matInput type="number" placeholder="Maximum Budget" >
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Event Date</mat-label>
          <input required id="party" matInput type="datetime-local" [(ngModel)]="_dateEventTime"
            [ngModelOptions]="{standalone: true}"
            formcontrolname="dateTimeEvent" 
            (input)="onDateTimeChange($event.target.value)"
            >
            <mat-error *ngIf="HasError('dateTimeEvent', 'required')">Event title is required.</mat-error>
            <mat-error *ngIf="HasError('dateTimeEvent', 'datimeRequired')">Event time is required</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Time To Close</mat-label>
          <input required [max]="_dateEventTime" required id="party" matInput type="datetime-local" [(ngModel)]="_dateTimeToClose"
            [ngModelOptions]="{standalone: true}"
            formcontrolname="dateTimeToClose" 
            (input)="onDateTimeChange($event.target.value)"
            >
            <mat-error *ngIf="HasError('dateTimeToClose', 'invalidCloseTime')">Close Event time is invalid.</mat-error>
            <mat-error *ngIf="HasError('dateTimeToClose', 'datimeRequired')">Close time is required</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Time To Reminder</mat-label>
          <input required [max]="_dateTimeToClose" id="party" matInput type="datetime-local" name="partydate" [(ngModel)]="_dateToReminder"
          [ngModelOptions]="{standalone: true}"
          formcontrolname="dateTimeRemind"
          (input)="onDateTimeChange($event.target.value)"
          >
          <mat-error *ngIf="HasError('dateTimeRemind', 'datimeRequired')">Reminder time is required</mat-error>
          <mat-error *ngIf="HasError('dateTimeRemind', 'invalidRemindTime')">Reminder time is invalid</mat-error>
        </mat-form-field>

        <mat-grid-list cols="10" rowHeight="100px">
          <mat-grid-tile [colspan]="8">
            <mat-form-field class="full-width">
              <mat-select required placeholder="Pick user/group" formControlName="participants"
                (selectionChange)="ChangeClient($event)">
                <mat-optgroup *ngFor="let group of _userPickerGroups" [label]="group.Name">
                  <mat-option style="width:4500px" *ngFor="let user of group.UserPicker" [value]="user.Email">
                    <img id="youtubeimg" height="50" width="50" src="https://localhost:44366/api/SPUser/GetAvatarByUserId?userId={{user.Id}}" />
                    {{user.Name}}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
              </mat-form-field>
              </mat-grid-tile>
          <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="AddUserToTable()">Add</button>
          </mat-grid-tile>
        </mat-grid-list>

        <table mat-table [dataSource]="_eventUsers">

          <ng-container matColumnDef="avatar">
            <th mat-header-cell *matHeaderCellDef> Avatar </th>
            <td mat-cell *matCellDef="let element">
              <img height="50" width="50" style="border-radius: 50%"
              src="https://localhost:44366/api/SPUser/GetAvatarByUserId?userId={{element.Id}}"/>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> User/Group </th>
            <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
          </ng-container>

          <ng-container matColumnDef="order status">
            <th mat-header-cell *matHeaderCellDef> Order Status</th>
            <td mat-cell *matCellDef="let element"> not order </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="accent" (click)="DeleteUserInTable(element.Name)"> <i
                  class="material-icons">delete</i></button>
            </td>
          </ng-container>
          

          <tr mat-header-row *matHeaderRowDef="_displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: _displayedColumns;">
          </tr>

        </table>
        <mat-card-actions align="right">
          <button mat-raised-button color="primary" [disabled]="!ownerForm.valid" (click)="SaveToSharePointEventList()">Create</button>
          <!-- <button type="button" mat-raised-button color="warn" (click)="onCancel()">Create</button> -->
          <button type="button" mat-raised-button color="warn" (click)="OnNoClick()">Cancel</button>
        </mat-card-actions>
      </div>
    </form>

  </mat-card>
</section>