<mat-drawer-container [hasBackdrop]="true" class="drawer">
  <mat-drawer
    [mode]="'over'"
    #drawer
    class="create-update-group"
    position="end"
  >
    <app-create-update-custom-group
      [isCreate]="isCreateGroup"
      [group]="group"
      [currentUser]="currentUser"
      [tempData]="tempData"
      (isCloseDrawer)="closeDrawer($event)"
    ></app-create-update-custom-group>
  </mat-drawer>
  <mat-drawer-content>
    <div class="custom-group-page">
      <div class="row">
        <h2>Custom groups</h2>
        <div>
          <button
            mat-raised-button
            color="primary"
            class="add-group-action"
            (click)="createGroup()"
          >
            Create a group
          </button>
        </div>
      </div>

      <app-loading [loading]="isLoading"></app-loading>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Group name</th>
          <td mat-cell *matCellDef="let element">{{ element.Name }}</td>
        </ng-container>

        <ng-container matColumnDef="Update">
          <th mat-header-cell *matHeaderCellDef>Update</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              class="update-group-action"
              *ngIf="!isCreate"
              (click)="updateGroup(element)"
              matTooltip="Update group"
            >
              <mat-icon aria-hidden="false" aria-label="Edit icon"
                >edit</mat-icon
              >
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="Delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              class="remove-group-action"
              *ngIf="!isCreate"
              (click)="removeGroup(element)"
              matTooltip="Delete group"
            >
              <mat-icon aria-hidden="false" aria-label="Delete icon"
                >delete</mat-icon
              >
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
