<div [className]="'show-action ' + rowId">
  <button
    class="action-button"
    mat-icon-button
    aria-label="Icon show actions"
    (click)="showListAction($event)"
  >
    <mat-icon matTooltip="Show action" [matTooltipPosition]="position.value"
      >more_vert</mat-icon
    >
  </button>
  <mat-card class="action-list" *ngIf="isShowListAction">
    <mat-list role="list">
      <mat-list-item role="listitem" *ngIf="actionList.CanViewEvent"
        >View event</mat-list-item
      >
      <mat-list-item role="listitem" *ngIf="actionList.CanEditEvent"
        >Edit event</mat-list-item
      >
      <mat-list-item role="listitem" *ngIf="actionList.CanSendRemind"
        >Send reminder</mat-list-item
      >
      <mat-list-item role="listitem" *ngIf="actionList.CanMakeOrder"
        >Make order</mat-list-item
      >
      <mat-list-item role="listitem" *ngIf="actionList.CanCloseEvent">
        <a target="_blank" routerLink="/events/summary/{{ eventId }}"
          >Close event</a
        ></mat-list-item
      >
    </mat-list>
  </mat-card>
</div>
