<div [className]="'show-action ' + event.EventId">
  <button
    class="action-button"
    mat-icon-button
    aria-label="Icon show actions"
    (click)="showListAction($event)"
  >
    <mat-icon matTooltip="Show action" [matTooltipPosition]="position.value"
      >more_vert</mat-icon
    >
  </button>
  <mat-card class="action-list" *ngIf="isShowListAction">
    <mat-list role="list">
      <mat-list-item
        role="listitem"
        *ngIf="event.Action.CanViewEvent"
        (click)="viewEvent($event)"
        >View event</mat-list-item
      >
      <mat-list-item
        role="listitem"
        *ngIf="event.Action.CanEditEvent"
        (click)="editEvent($event)"
        >Edit event</mat-list-item
      >
      <mat-list-item
        role="listitem"
        *ngIf="event.Action.CanCloneEvent"
        (click)="cloneEvent($event)"
        >Clone event</mat-list-item
      >
      <mat-list-item
        role="listitem"
        *ngIf="event.Action.CanSendRemind"
        (click)="sendReminder($event)"
        >Send reminder</mat-list-item
      >
      <mat-list-item
        role="listitem"
        *ngIf="event.Action.CanMakeOrder"
        (click)="makeOrder($event)"
        >Make order</mat-list-item
      >
      <mat-list-item
        role="listitem"
        *ngIf="event.Action.CanViewOrder"
        (click)="viewOrder($event)"
        >View order</mat-list-item
      >
      <!-- <mat-list-item
        role="listitem"
        *ngIf="event.Action.CanCloseEvent"
        (click)="closeEvent($event)"
        >Close event</mat-list-item
      > -->
      <mat-list-item
        role="listitem"
        *ngIf="event.Action.CanViewEventSummary"
        [routerLink]="eventSummaryLink"
        >View event summary</mat-list-item
      >
    </mat-list>
  </mat-card>
</div>
