<div class="container">
  <div id="print" class="event-summary">
    <mat-card>
      <mat-card-content>
        <mat-grid-list class="grid-card" cols="2" rowHeight="fit">
          <mat-grid-tile>
            <mat-card class="card">
              <!-- <mat-card-header>
                                <mat-card-title>Event</mat-card-title>
                              </mat-card-header> -->
              <mat-card-content>
                <mat-grid-list cols="2" rowHeight="40px">
                  <div class="grid-tile-row">
                    <mat-grid-tile
                      ><div class="label-inside-grid">Event</div></mat-grid-tile
                    >
                    <mat-grid-tile></mat-grid-tile>
                  </div>
                  <div class="grid-tile-row">
                    <mat-grid-tile
                      ><div class="text-inside-grid">Name</div></mat-grid-tile
                    >
                    <mat-grid-tile
                      ><div class="text-inside-grid" *ngIf="eventDataAvailable">
                        {{ eventDetail.Name }}
                      </div></mat-grid-tile
                    >
                  </div>
                  <mat-grid-tile
                    ><div class="text-inside-grid">Host</div></mat-grid-tile
                  >
                  <mat-grid-tile
                    ><div class="text-inside-grid" *ngIf="eventDataAvailable">
                      {{ eventDetail.HostName }}
                    </div></mat-grid-tile
                  >
                  <mat-grid-tile
                    ><div class="text-inside-grid">
                      Time to close
                    </div></mat-grid-tile
                  >
                  <mat-grid-tile
                    ><div class="text-inside-grid" *ngIf="eventDataAvailable">
                      {{ toStandardDate(eventDetail.CloseTime) }}
                    </div></mat-grid-tile
                  >
                  <mat-grid-tile
                    ><div class="text-inside-grid">Status</div></mat-grid-tile
                  >
                  <mat-grid-tile
                    ><div class="text-inside-grid">Closed</div></mat-grid-tile
                  >
                </mat-grid-list>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card class="card">
              <!-- <mat-card-header>
                                <mat-card-title>Restaurant</mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                              </mat-card-header> -->
              <mat-card-content>
                <mat-grid-list cols="2" rowHeight="40px" guttterSize="10px">
                  <div class="grid-tile-row">
                    <mat-grid-tile
                      ><div class="label-inside-grid">
                        Restaurant
                      </div></mat-grid-tile
                    >
                    <mat-grid-tile></mat-grid-tile>
                  </div>
                  <mat-grid-tile
                    ><div class="text-inside-grid">Name</div></mat-grid-tile
                  >
                  <mat-grid-tile
                    ><div *ngIf="restaurant.isLoaded" class="text-inside-grid">
                      {{ eventDetail.Restaurant }}
                    </div></mat-grid-tile
                  >
                  <mat-grid-tile
                    ><div class="text-inside-grid">Address</div></mat-grid-tile
                  >
                  <mat-grid-tile
                    ><div *ngIf="restaurant.isLoaded" class="text-inside-grid">
                      {{ restaurant.address }}
                    </div></mat-grid-tile
                  >
                  <!-- <mat-grid-tile
                    ><div class="text-inside-grid">Rating</div></mat-grid-tile
                  > -->
                  <!-- <mat-grid-tile *ngIf="restaurant.isLoaded">
                    <div class="text-inside-grid">
                      <ngx-stars
                        [readonly]="true"
                        [maxStars]="5"
                        [initialStars]="restaurant.Rating"
                      ></ngx-stars>
                    </div> -->
                  <!-- </mat-grid-tile> -->
                  <mat-grid-tile></mat-grid-tile>
                  <mat-grid-tile></mat-grid-tile>
                  <mat-grid-tile></mat-grid-tile>
                </mat-grid-list>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
        <table
          *ngIf="dishViewDataAvailable"
          mat-table
          [dataSource]="dishGroupViewdataSource"
        >
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.Name }}</td>
            <td mat-footer-cell *matFooterCellDef>Total</td>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let element">{{ element.Amount }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element">
              {{ numberWithCommas(element.Price) }}đ
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td mat-cell *matCellDef="let element">
              {{ numberWithCommas(element.Total) }}đ
            </td>
            <td mat-footer-cell *matFooterCellDef>
              {{ numberWithCommas(total) }}đ
            </td>
          </ng-container>
          <ng-container matColumnDef="totalComment">
            <th mat-header-cell *matHeaderCellDef>Comment</th>
            <td mat-cell *matCellDef="let element">
              <span *ngFor="let comment of element.Comments">
                {{ comment.Amount }}x {{ comment.Value }},
              </span>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="showUsers">
            <th mat-header-cell *matHeaderCellDef>Users</th>
            <td mat-cell *matCellDef="let element">
              {{ getOrderedUsersNames(element.UserIds) }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="dishGroupViewDisplayedColumns"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: dishGroupViewDisplayedColumns"
          ></tr>
          <tr
          mat-footer-row
          *matFooterRowDef="dishGroupViewDisplayedColumns"
        ></tr>
        </table>

        <img src="" />
        <table
          *ngIf="personViewDataAvailable"
          mat-table
          [dataSource]="personGroupViewdataSource"
        >
          <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef>User</th>
            <td mat-cell *matCellDef="let element">
              {{ element.User.DisplayName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="food">
            <th mat-header-cell *matHeaderCellDef>Food</th>
            <td mat-cell *matCellDef="let element">{{ element.Food }}</td>
          </ng-container>
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element">
                {{ numberWithCommas(element.Price) }}đ
            </td>
          </ng-container>
          <ng-container matColumnDef="pay-extra">
            <th mat-header-cell *matHeaderCellDef>Pay extra</th>
            <td mat-cell *matCellDef="let element">
                {{ numberWithCommas(element.PayExtra) }}đ
            </td>
          </ng-container>
          <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef>Comment</th>
            <td mat-cell *matCellDef="let element">
              <span *ngFor="let comment of element.Comments">
                {{ comment.Amount }}x {{ comment.Value }},
              </span>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="personGroupViewDisplayedColumns"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: personGroupViewDisplayedColumns"
          ></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
