@import "../../../../styles/global/variables.less";

.container {
  overflow: hidden;
  width: auto;
  // @media @desktop {
  //   margin: 1rem 10rem;
  // }
  // @media @mobile {
  //   margin: 1rem 1rem;
  // }
}
.mat-stroked-button {
  margin-left: 5px;
}
.event-summary {
  .grid-card {
    min-height: 300px;
    // max-height: 300rem;
  }

  table {
    width: 100%;
  }

  .card {
    width: 99%;
    box-sizing: border-box;
    box-shadow: none;
    border-width: thin;
    border-color: black;
    border-style: solid;
  }
  .grid-tile-row {
    justify-content: flex-start !important ;
    align-items: flex-start !important;
  }
  .text-inside-grid {
    width: 100%;
    display: flex;
    font-size: 12px;
    height: -webkit-fill-available;
    align-items: flex-start;
  }
  .label-inside-grid {
    .text-inside-grid;
    font-size: 1.5rem;
  }
  .mat-grid-tile {
    overflow: hidden;
  }
  .mat-cell {
    padding-left: 5px;
    padding-right: 5px;
  }
  .mat-header-cell {
    .mat-cell;
  }
}
