<app-loading [loading]="loading"></app-loading>
<div class="container" *ngIf="eventDataAvailable">
  <div class="event">
    {{ event.Name }}
  </div>
  <app-star-rating
    [rating]="rating"
    [starCount]="starCount"
    [color]="starColor"
    (ratingUpdated)="OnRatingChanged($event)"
  ></app-star-rating>
  <table mat-table [dataSource]="dishViewdataSource">
    <ng-container matColumnDef="picture">
      <th mat-header-cell *matHeaderCellDef>Picture</th>
      <td mat-cell *matCellDef="let element">
        <div style="width: 68px; height: 68px;">
          <app-photo [src]="element.Value.Photo"></app-photo>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.Value.Name }}</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{ numberWithCommas(element.Value.Price) }}đ</td>
    </ng-container>
    <ng-container matColumnDef="totalComment">
      <th mat-header-cell *matHeaderCellDef>Comment</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input [(ngModel)]="element.Comment" (input)="OnCommentChange($event, element.IdFood)" matInput placeholder="Leave a comment" />
        </mat-form-field>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="dishViewDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: dishViewDisplayedColumns"></tr>
  </table>

  <div class="actions">
    <button (click)="Submit()" mat-flat-button color="warn">
      Submit
    </button>
  </div>
</div>
