<div class="app-{{ appId }}-theme">
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation" position="start">
      <!--this is a place for us to add side-nav code-->
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header (change)="changeTheme($event)"></app-header>
      <!--in here all the content must reside. We will add a navigation header as well-->
      <main>
        <img
          *ngIf="showIcon"
          src="https://www.preciofishbone.se/globalassets/ngo-online-v2/logos/precio_422px.png"
          alt="App logo"
          class="logo"
        />
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
    <mat-sidenav #sidenavlist role="navigation" mode="side" position="end">
      <!-- <app-sidenav-list (sidenavClose)="sidenavlist.close()"></app-sidenav-list> -->
    </mat-sidenav>
  </mat-sidenav-container>
</div>
