<div class="app-{{ appId }}-theme">
  <mat-sidenav-container>
    <mat-sidenav-content>
      <app-header (change)="changeTheme($event)"></app-header>
      <!--in here all the content must reside. We will add a navigation header as well-->
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
    <mat-sidenav #sidenavlist role="navigation" mode="side" position="end">
      <!-- <app-sidenav-list (sidenavClose)="sidenavlist.close()"></app-sidenav-list> -->
    </mat-sidenav>
  </mat-sidenav-container>

  <router-outlet></router-outlet>
</div>
