<div class="orders">
  <div class="filter">
    <mat-form-field class="search" appearance="outline">
      <mat-label>Search</mat-label>
      <input
        matInput
        (input)="onSearchChange($event.target.value)"
        [(ngModel)]="searchQuery"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-form-field class="category" appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select
        [formControl]="categories"
        (selectionChange)="categoryChange($event)"
        [(ngModel)]="categorySelected"
      >
        <mat-option [value]="null"></mat-option>
        <mat-option *ngFor="let category of categoryList" [value]="category"
          >{{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortDirection="asc"
      matSortActive="date"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="restaurant">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Restaurant</th>
        <td mat-cell *matCellDef="let element">{{ element.restaurant }}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
        <td mat-cell *matCellDef="let element">{{ element.category }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Date
        </th>
        <td mat-cell *matCellDef="let element">
          {{ toStandardDate(element.date) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="participants">
        <th mat-header-cell *matHeaderCellDef>Participants</th>
        <td mat-cell *matCellDef="let element">{{ element.participants }}</td>
      </ng-container>

      <ng-container matColumnDef="maximumBudget">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Maximum Budget
        </th>
        <td mat-cell *matCellDef="let element">
          {{
            element.maximumBudget != undefined
              ? element.maximumBudget + currency
              : ''
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="host">
        <th mat-header-cell *matHeaderCellDef>Host</th>
        <td mat-cell *matCellDef="let element">{{ element.hostName }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div *ngIf="isLoading" class="loading">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
    <mat-paginator
      showFirstLastButtons
      [pageSize]="20"
      [hidePageSize]="true"
    ></mat-paginator>
  </div>
</div>
