<div class="orders">
  <div class="filter">
    <mat-form-field class="search">
      <mat-label>Search</mat-label>
      <input
        matInput
        (input)="onSearchChange($event.target.value)"
        [(ngModel)]="searchQuery"
      />
    </mat-form-field>
    <mat-form-field class="category">
      <mat-label>Category</mat-label>
      <mat-select
        [formControl]="categories"
        (selectionChange)="categoryChange($event)"
        [(ngModel)]="categorySelected"
      >
        <mat-option [value]="null"></mat-option>
        <mat-option *ngFor="let category of categoryList" [value]="category"
          >{{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <app-loading [loading]="isLoading"></app-loading>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let element" class="name">
          <p>{{ element.Name }}</p>
          <app-show-action
            class="show-event-action"
            [event]="element"
          ></app-show-action>
        </td>
      </ng-container>

      <ng-container matColumnDef="Restaurant">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Restaurant</th>
        <td mat-cell *matCellDef="let element">{{ element.Restaurant }}</td>
      </ng-container>

      <ng-container matColumnDef="Category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
        <td mat-cell *matCellDef="let element">{{ element.Category }}</td>
      </ng-container>

      <ng-container matColumnDef="CloseTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Time To Close
        </th>
        <td mat-cell *matCellDef="let element">
          {{ toStandardDate(element.CloseTime) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Participants">
        <th mat-header-cell *matHeaderCellDef>
          Participants
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.Participants }}
        </td>
      </ng-container>

      <ng-container matColumnDef="MaximumBudget">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Maximum Budget
        </th>
        <td mat-cell *matCellDef="let element" class="align-right">
          {{
            element.MaximumBudget != undefined
              ? formatCurrency(element.MaximumBudget) + currency
              : ''
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="HostName">
        <th mat-header-cell *matHeaderCellDef>Host</th>
        <td mat-cell *matCellDef="let element">{{ element.HostName }}</td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Status }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      showFirstLastButtons
      [pageSize]="20"
      [hidePageSize]="true"
    ></mat-paginator>
  </div>
</div>
