<app-loading [loading]="!isDataAvailable"></app-loading>
<div *ngIf="isDataAvailable">
  <app-food
    [data]="data"
    [isOrder]="true"
    (valueChange)="GetFoodFromMenu($event)"
  ></app-food>
  <app-list-ordered-foods
    #foodorderlist
    [user]="user"
    [order]="order"
    [totalBudget] = "totalBudget"
  ></app-list-ordered-foods>
  <div class="example-button-row">
    <button mat-raised-button (click)="Save()">Save Order</button>
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
  </div>
</div>
