<app-loading [loading]="loading"></app-loading>
<h1 style="text-align:center">
  <span
    style="
  color: #e57d13;
"
    >BETTER FOOD,</span
  >
  BETTER MOOD
</h1>

<h3 style="text-align:center">
  Please join us for food and fun as we celebrate at {{ nameEvent }}
</h3>

<div *ngIf="isDataAvailable" class="aaa">
  <app-food
    #foodlist
    [data]="data"
    [isOrder]="isOrder"
    [checkedData]="checkedData"
    (valueChange)="getFoodFromMenu($event)"
  ></app-food>
  <app-list-ordered-foods
    #foodorderlist
    [hostUser]="hostUser"
    [orderUser]="orderUser"
    [order]="order"
    [isOrder]="isOrder"
    [event]="event"
    [totalBudget]="totalBudget"
    (valueChange)="deleteFoodFromMenu($event)"
  ></app-list-ordered-foods>
</div>
<div *ngIf="isDataAvailable" class="example-button-row">
  <button [disabled]="!isOrder" mat-raised-button color="warn" (click)="save()">
    Save Order
  </button>
  <button [disabled]="!isOrder" mat-raised-button (click)="onNoClick()">
    Cancel
  </button>
</div>
