<app-loading [loading]="loading"></app-loading>
<div *ngIf="isDataAvailable" class="aaa">
  <app-food
    [data]="data"
    [isOrder]="isOrder"
    [checkedData]="checkedData"
    (valueChange)="GetFoodFromMenu($event)"
  ></app-food>
  <div
    color="primary"
    style="border-left: 1px solid #737a7eb5;width: 10px;"
  ></div>
  <app-list-ordered-foods
    #foodorderlist
    [user]="user"
    [order]="order"
    [isOrder]="isOrder"
    [event]="event"
    [totalBudget]="totalBudget"
  ></app-list-ordered-foods>
</div>
<div class="example-button-row">
  <button [disabled]="!isOrder" mat-raised-button color="warn" (click)="Save()">
    Save Order
  </button>
  <button [disabled]="!isOrder" mat-raised-button (click)="onNoClick()">
    Cancel
  </button>
</div>
