@import '../../../styles/global/variables.less';

.aaa {
  display: flex;
  width: auto;
  @media @desktop {
    margin: 1rem 10rem;
  }
  @media @mobile {
    margin: 1rem 1rem;
  }
}
.example-button-row {
  padding: 10px;
  padding-left: 85%;
}
.example-button-row button {
  margin: 2%;
}
app-list-ordered-foods {
  display: grid;
}
app-food {
  width: -webkit-fill-available !important;
}
// .aaa ::ng-deep .restaurants {
//   background-color: red;
// }
