<div class="reminder-dialog">
  <div class="dialog-header">
    <h2>{{ data.header }}</h2>
  </div>
  <div mat-dialog-content>
    <table mat-table [dataSource]="dataSource" *ngIf="userNotOrder.length > 0">
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef>Avatar</th>
        <td mat-cell *matCellDef="let element">
          <img
            height="50"
            width="50"
            style="border-radius: 50%"
            src="{{ apiUrl }}api/SPUser/GetAvatar?Id={{
              element.Id
            }}&avatarName={{ element.DisplayName }}"
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.DisplayName }}</td>
      </ng-container>

      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.Mail }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div *ngIf="userNotOrder.length === 0; else elseBlock">
      <h4 *ngIf="!data.isClosedEvent" class="all-user-ordered">
        All the user already made order
      </h4>
      <h4
        class="close-event-confirm"
        *ngIf="data.isClosedEvent"
        class="all-user-ordered"
      >
        All the user already made order. Do you want to close event?
      </h4>
    </div>
    <ng-template #elseBlock>
      <h4 *ngIf="!data.isClosedEvent">
        The email reminder will send to all user in this list. Do you want to
        send?
      </h4>
      <h4 *ngIf="data.isClosedEvent">
        Some of participants in list is not make order yet. Are you sure to
        close this event?
      </h4>
    </ng-template>
  </div>

  <div class="dialog-actions" mat-dialog-actions>
    <button
      *ngIf="!data.isClosedEvent"
      class="remind"
      mat-raised-button
      (click)="remind($event)"
      color="primary"
      [disabled]="userNotOrder.length == 0"
    >
      Send
    </button>
      <a target="_blank" routerLink="/events/summary/{{ data.event.EventId }}">
        <button
          *ngIf="data.isClosedEvent"
          class="remind"
          mat-raised-button
          (click)="closeEvent($event)"
          color="warn"
        >Close Event</button>
      </a>
    <button class="cancel" mat-raised-button (click)="closeDialog($event)">
      Cancel
    </button>
  </div>
</div>
