<div id="search-component">
  <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="usersForm">
    <mat-slide-toggle
      color="primary"
      class="favorite"
      [checked]="isChecked"
      (change)="filterByFavorite($event)"
      >My favorite</mat-slide-toggle
    >
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Search"
        [matAutocomplete]="auto"
        formControlName="userInput"
      />
    </mat-form-field>

    <mat-autocomplete
      (closed)="closeMiniSearch()"
      #auto="matAutocomplete"
      [displayWith]="displayFn"
    >
      <mat-option *ngIf="isLoading" class="is-loading"
        ><mat-spinner diameter="30"></mat-spinner
      ></mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let restaurant of restaurant$" [value]="restaurant">
          <app-menu
            matTooltip="Show menu"
            [idService]="idService"
            [restaurant]="restaurant"
          ></app-menu>
          <span>{{ restaurant.Name }}</span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
    <mat-form-field class="example-full-width">
      <mat-select
        placeholder="Select Topics"
        [formControl]="toppings"
        (openedChange)="openedChange($event)"
        multiple
      >
        <mat-select-trigger>
          {{
            toppings.value
              ? toppings.value[0]
                ? toppings.value[0].Name
                : ""
              : ""
          }}
          <span
            *ngIf="toppings.value?.length > 1"
            class="example-additional-selection"
          >
            (+{{ toppings.value.length - 1 }}
            {{ toppings.value?.length === 2 ? "other" : "others" }})
          </span>
        </mat-select-trigger>
        <mat-optgroup *ngFor="let group of toppingList" [label]="group.Name">
          <mat-option
            *ngFor="let category of group.Categories"
            [value]="category"
          >
            {{ category.Name }}
          </mat-option>
        </mat-optgroup>
        <!-- <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option> -->
      </mat-select>
    </mat-form-field>
  </form>
  <app-loading [loading]="loading"></app-loading>
</div>
