<form [formGroup]="formGroup">
  <mat-form-field>
    <input matInput [matDatepicker]="picker" [formControlName]="dateFormControlName" placeholder="Choose a date" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <input matInput [matDatepicker]="picker" [formControlName]="timeFormControlName" placeholder="Choose a time" />
  </mat-form-field>
  <mat-card
    [@changeState]="triggered ? 'pickTime' : 'nopick'"
    (click)="onTrigger()"
  >
    <mat-card-content>
      <w-time color="warn" [userTime]="exportTime"></w-time>
    </mat-card-content>
  </mat-card>
</form>
