<div class="header">
  <mat-toolbar color="warn">
    <mat-toolbar-row>
      <span class="ml5">
        <img class="logo" src="../../../../assets/pficon.png" alt="Logo" />
      </span>
      <div>
        <a
          mat-button
          [routerLink]="'/home'"
          [ngClass]="url === '/home' || url === '/' ? 'route-active' : 'route'"
        >
          Home
        </a>
        <a
          mat-button
          [routerLink]="'/events'"
          [ngClass]="url === '/events' ? 'route-active' : 'route'"
        >
          Event
        </a>
        <a
          mat-button
          [routerLink]="'/summary'"
          [ngClass]="url === '/summary' ? 'route-active' : 'route'"
        >
          Summary
        </a>
      </div>
      <span class="example-spacer"></span>
      <div class="displayContents">
        <span>{{ displayName }}</span>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu2"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item (click)="openDialog()">
            <mat-icon>dialpad</mat-icon>
            <span>Setting</span>
          </button>
          <button mat-menu-item [matMenuTriggerFor]="menu1">
            <mat-icon>format_color_fill</mat-icon>Select Theme
          </button>
          <mat-menu #menu1="matMenu">
            <button
              value="theme1"
              mat-menu-item
              (click)="switchTheme('theme1')"
            >
              Theme 1
            </button>
            <button
              value="theme2"
              mat-menu-item
              (click)="switchTheme('theme2')"
            >
              Theme 2
            </button>
          </mat-menu>
          <button mat-menu-item [routerLink]="customGroupLink">
            <mat-icon>group</mat-icon>
            <span>Custom group</span>
          </button>
          <button mat-menu-item (click)="logOut()">
            <mat-icon>exit_to_app</mat-icon>Log Out
          </button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
